@font-face {
    font-family: 'Anybody';
    src: url('Anybody-Medium.eot');
    src: url('Anybody-Medium.eot?#iefix') format('embedded-opentype'),
        url('Anybody-Medium.woff2') format('woff2'),
        url('Anybody-Medium.woff') format('woff'),
        url('Anybody-Medium.ttf') format('truetype'),
        url('Anybody-Medium.svg#Anybody-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

